<!DOCTYPE html>
<html>
<body>

<h1>Instruction to play game</h1>
<ul>
  <li style="font-size:30px">From motion tab drag and drop the left.right,up,down blocks to workspace and connect them</li>
  <li style="font-size:30px">From Loop tab drag the loop and select the motion that you reaptedly want to perfom and</li>
  <li style="font-size:30px">from math tab drag the number and write the number in the block to specify how many times you want to execute loop</li>
    <li style="font-size:30px">Select the background from drop down menu and click on change to change the background of the table</li>
    <li style="font-size:30px">Click on run button to run the object on screen</li>
</ul> 


</body>
</html>
