<!DOCTYPE html>
<html>
<body>

<h1>Instruction to make new Scenario</h1>
<ul>
  <li style="font-size:30px">Use Add row and Add column button to add more rows and columns to the table</li>
  <li style="font-size:30px">Use Delete row and Delete column button to add more rows and columns to the table</li>
  <li style="font-size:30px">Place the reward and hurdle using drag drop</li>
    <li style="font-size:30px">Select the background from drop down menu and click on change to change the background of the table</li>
    <li style="font-size:30px">Click on save to save the scenario</li>
</ul> 


</body>
</html>
